<main class="home-wrapper">
  <section class="header">
    <p class="title1">
      PONG
    </p>
    <space-directive></space-directive>
    <space-directive></space-directive>
    <p class="title2">
     BREAK
    </p>
  </section>

  <section class="play">
      <h1>Welcome to Pong Break</h1>
      <p>
        Here at pong break we believe that you should work as hard as you play. So close the laptop, grab a paddle, and play sone ping-pong.
      </p>
      <div class="play-button">
        <p>
          Play
        </p>
      </div>
  </section>

  <section class="learn-more">
    <h1>Can't Remember The Rules?</h1>
    <p>
      Check out our rules page to find the most up-to-date indormation on the rules of the game.
    </p>

    <a ui-sref="rules">
      <div class="learn-more-button">
        <p>
          Learn More
        </p>
      </div>
    </a>

  </section>
</main>
