<main class="home-wrapper">
  <section class="header">
    <div class="header-title-container animated fadeInDown">
      <h1 class="header-text">Pong Break</h1>
    </div>
  </section>

  <section class="play animated fadeIn">
      <h1>Welcome to Pong Break</h1>
      <p>
        Here at pong break we believe that you should work as hard as you play. So close the laptop, grab a paddle, and play some ping-pong.
      </p>
      <div class="play-button" highlight-directive>

        <a ui-sref="series"><p>Play</p></a>

      </div>
  </section>

  <section class="learn-more animated fadeIn">
    <h1>Can't Remember The Rules?</h1>
    <p>
      Check out our rules page to find the most up-to-date information on the rules of the game.
    </p>


      <div class="learn-more-button" highlight-directive>
        <a ui-sref="rules">
          <p>
            Learn More
          </p>
        </a>

      </div>


  </section>
</main>
