<div class="play-page">

    <div class="stats-box">
      <h2 class="series-title">{{series.player1Name}} Wins: {{series.scoreboard.player1Wins}}</h2>
    </div>
    <div class="stats-box">
      <h2 class="series-title">{{series.player2Name}} Wins: {{series.scoreboard.player2Wins}}</h2>
    </div>

    <br />
    <br />
    <br />


  <div class="new-game inline" highlight-directive>
    <p ng-click="toggleNewGameForm(showNewGameForm)">
      New Game
    </p>
  </div>
  <div class="return-home inline" ui-sref="home" highlight-directive>
    <p>
      Return Home
    </p>
  </div>
  <form class="new-game-form" ng-show="showNewGameForm">
    <input type="number" placeholder="{{series.player1Name}} score" ng-model="player1Score"/>
    <input  type="number" placeholder="{{series.player2Name}} score" ng-model="player2Score"/>
    <br />
    <div class="submit" ng-click="createGame(player1Score, player2Score)" highlight-directive>
      <p>
        Submit
      </p>
    </div>
  </form>
  <div class="game-list" ng-repeat="game in games | orderBy: createdAt: true">
    <delete-directive ng-click="deleteGame(game)"></delete-directive>
    <p>
      <strong>Final Score:</strong>
    </p>
    <p>
      {{series.player1Name}}: {{game.player1Score}} {{series.player2Name}}: {{game.player2Score}}
    </p>
    <p>
      Date: {{game.createdAt | date: 'short'}}
    </p>
  </div>

</div>
