<div class="play-page">
  <div class="new-game" highlight-directive>
    <p ng-click="toggleNewGameForm(showNewGameForm)">
      New Game
    </p>
  </div>
  <form class="new-game-form" ng-show="showNewGameForm">
    <input placeholder="Player1" ng-model="newGame.player1" />
    <input type="number" placeholder="{{newGame.player1}} score" ng-model="newGame.player2Score"/>
    <br />
    <br />
    <input placeholder="Player2" ng-model="newGame.player2"/>
    <input  type="number" placeholder="{{newGame.player2}} score" ng-model="newGame.player2Score"/>
    <br />
    <div class="submit">
      <p>
        Submit
      </p>
    </div>
  </form>

</div>
