<main class="series-container">
  <div class="new-series-button inline" ng-click="toggleSeriesForm(showSeriesForm)" highlight-directive>
    <p>
      New Series
    </p>
  </div>
  <div class="return-home inline" ui-sref="home" highlight-directive>
    <p>
      Return Home
    </p>
  </div>
  <div>
      <input class="series-filter" type="text" placeholder="Search..." ng-model="searchTerm" />
  </div>

  <form class="new-series-form" ng-show="showSeriesForm">
    <input placeholder="Player1 name" ng-model="newPlayer1"/>
    <input placeholder="Player2 name" ng-model="newPlayer2"/>
    <div class="submit" ng-click="createSeries(newPlayer1, newPlayer2)" highlight-directive>
      <p>
        Submit
      </p>
    </div>

  </form>

  <div class="series-list" ng-repeat="info in series | filter:searchTerm">
    <div class="delete-series-button">Delete</div>
    <a class = "series-link" ui-sref="play({seriesId: info.$id})">
      <p>
        {{info.player1Name}} V {{info.player2Name}}
      </p>
    </a>

  </div>
</main>
