html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  font-family: "Crimson Text", serif;
  font-size: 20px
}

a {
  text-decoration: none;
  font-family: "Crimson Text", serif;
  color: white;

}

h1 {
  font-family: "Crimson Text", serif;
  font-size: 50px;
}


.background-wrapper {
  width: 100%;
  height: 100vh;
  background: url('img/office-pong.jpg') center no-repeat;
  background-size: cover;
  padding-top: 300px;
}

.break-button {
  width: 150px;
  height: 50px;
  background: #00CCCC;
  color: white;
  text-align: center;
  padding-top: 12px;
  font-size: 20px;
  margin: auto;
  border-radius: 5px;
  -webkit-box-shadow: -2px 3px 39px -6px rgba(0,0,0,0.87);
-moz-box-shadow: -2px 3px 39px -6px rgba(0,0,0,0.87);
box-shadow: -2px 3px 39px -6px rgba(0,0,0,0.87);
}

.home-wrapper {
  width: 100%;
  background: none;
}

.header {
  width: 100%;
  height: 500px;
  background: url('img/pong-computer.jpg') center no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 150px;
}

.title1 {
  font-size: 80px;
  color: black;
  display: inline-block;
}

.title2 {
  font-size: 80px;
  color: white;
  display: inline-block;
}

.play {
  width: 90%;
  min-height: 300px;
  background: white;
  text-align: center;
  padding-top: 20px;
  border-bottom: 1px solid lightgrey;
  margin: auto;
}

.play-button {
  width: 150px;
  height: 40px;
  background: #00CCCC;
  color: white;
  text-align: center;
  padding-top: 7px;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}

.learn-more {
  width: 90%;
  min-height: 300px;
  background: none;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}

.learn-more-button {
  width: 150px;
  min-height: 40px;
  background: #00CCCC;
  color: white;
  text-align: center;
  padding-top: 6px;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}

.rule-page {
  width: 100%;
  height: 100vh;
  background: url('img/blue-blur.jpg') center no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-y: scroll;
}

.rule-button {
  min-height: 50px;
  padding-top: 15px;
  background: white;
  border-radius: 5px;
  margin: 5px auto 0 auto;
  width: 60%;
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 25px;
  -webkit-box-shadow: inset -2px 3px 24px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -2px 3px 24px -6px rgba(0,0,0,0.75);
  box-shadow: inset -2px 3px 24px -6px rgba(0,0,0,0.75);
}

.rule-descrip {
  display: none;
  margin-bottom: 10px;
}

.return-home {
  width: 150px;
  min-height: 40px;
  background: #00CCCC;
  color: white;
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}

.padding {
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}

.new-game {
  width: 150px;
  min-height: 40px;
  background: #00CCCC;
  color: white;
  text-align: center;
  padding-top: 7px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top: 50px;
}

.play-page {
  width: 100%;
  height: 100vh;
  background: url('img/blue-blur.jpg') center no-repeat;
  background-size: cover;
  position: relative;
}

.new-game-form {
  width: 400px;
  min-height: 200px;
  margin: auto;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -203px;
  top: 110px;
  background: white;
  padding-top: 20px;
  border-radius: 5px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}

.submit {
  width: 150px;
  min-height: 40px;
  background: #00CCCC;
  color: white;
  text-align: center;
  padding-top: 7px;
  font-size: 20px;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}

.series-container {
  width: 100%;
  height: 100vh;
  background: url('img/blue-blur.jpg') center no-repeat;
  background-size: cover;
  /*position: relative;*/
  padding-top: 20px;
}

.new-series-button {
  width: 150px;
  min-height: 40px;
  background: #00CCCC;
  color: white;
  text-align: center;
  margin: auto;
  padding-top: 7px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}

.new-series-form {
  width: 400px;
  min-height: 100px;
  margin: auto;
  text-align: center;
  background: white;
  padding-top: 20px;
  padding-bottom: 5px;
  border-radius: 5px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}

.series-list {
  width: 400px;
  min-height: 60px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  background: white;
  padding-top: 15px;
  border-radius: 5px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}

.series-link {
  color: black;
}
