html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  font-family: "Crimson Text", serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  font-family: "Crimson Text", serif;
  color: white;

}

h1 {
  font-family: "Crimson Text", serif;
  font-size: 60px;
  color: #011A27;
}

input {
  height: 30px;
  text-align: center;
}

.inline {
  display: inline-block;
}


.background-wrapper {
  width: 100%;
  height: 100vh;
  background: url('img/office-pong.jpg') center no-repeat;
  background-size: cover;
  padding-top: 300px;
}

.break-button {
  width: 150px;
  height: 50px;
  background: #063852;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -75px;
  -webkit-box-shadow: -2px 3px 39px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 39px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 39px -6px rgba(0,0,0,0.87);
}

.home-wrapper {
  width: 100%;
  background: none;
}

.header {
  width: 100%;
  height: 400px;
  background: url('img/pong-computer.jpg') no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding-top: 150px;
  position: relative;
  box-shadow: inset 0 0 5px #111;
}

.title1 {
  font-size: 80px;
  color: black;
  display: inline-block;
}

.title2 {
  font-size: 80px;
  color: white;
  display: inline-block;
}

.play {
  width: 90%;
  min-height: 400px;
  background: white;
  text-align: center;
  padding-top: 20px;
  border-bottom: 1px solid lightgrey;
  margin: auto;
}

.play-button {
  width: 150px;
  height: 40px;
  background: #063852;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}

.learn-more {
  width: 90%;
  min-height: 400px;
  background: none;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}

.learn-more-button {
  width: 150px;
  height: 40px;
  background: #063852;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}

.rule-page {
  width: 100%;
  height: 100vh;
  /*background: url('img/blue-blur.jpg') center no-repeat;*/
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-y: scroll;
}

.rule-button {
  min-height: 100px;
  padding-top: 15px;
  background: white;
  margin: 5px auto 10px auto;
  width: 70%;
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 35px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  cursor: pointer;
}

.rule-descrip {
  display: none;
  margin-bottom: 10px;
}


.return-home {
  width: 150px;
  height: 40px;
  background: #063852;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  cursor: pointer;
}

.padding {
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}

.new-game {
  width: 150px;
  min-height: 40px;
  background: #063852;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  /*margin: auto;*/
  cursor: pointer;
}

/*.new-game:hover {
  box-shadow: -2px 10px 30px -6px rgba(0,0,0,0.87);
  background: white;
  color: #063852;
  transition: all 0.2s ease-in-out;
}*/

.play-page {
  width: 100%;
  height: 100vh;
  /*background: url('img/blue-blur.jpg') center no-repeat;*/
  background-size: cover;
  position: relative;
  text-align: center;
  overflow-y: scroll;
  padding-top: 10px;
}

.new-game-form {
  width: 400px;
  min-height: 100px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  background: white;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}

.submit {
  width: 150px;
  height: 40px;
  background: #063852;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  cursor: pointer;
}

.series-container {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  overflow-y: scroll;
  text-align: center;
}

.new-series-button {
  width: 150px;
  height: 40px;
  background: #063852;
  color: white;
  text-align: center;
  margin-right: 10px;
  line-height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  cursor: pointer;
}

.new-series-form {
  width: 400px;
  min-height: 100px;
  margin: auto;
  text-align: center;
  background: white;
  padding-top: 20px;
  padding-bottom: 5px;
  border-radius: 5px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}

.series-list {
  width: 50%;
  min-height: 60px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background: white;
  padding-top: 15px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}

.series-link {
  color: black;
}

.game-list {
  width: 60%;
  min-height: 100px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  background: white;
  padding-top: 25px;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}

.series-title {
  font-family: "Crimson Text", serif;
  margin-top: 0;
}

.stats-box {
  height: 75px;
  line-height: 75px;
  width: 30%;
  margin: auto;
  display: inline-block;
  -webkit-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
  box-shadow: -2px 3px 22px -6px rgba(0,0,0,0.87);
}
